{% extends "PlanningBundle::layout.html.twig" %}

{% block title %}PlanningBundle:Location:addSite{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}

    <h1>Ajout d'une salle</h1>

    {{ form(form) }}

    <a href="{{ path("delete_room",{id:room.id}) }}" class="btn btn-primary">Delete</a>

{% endblock %}