{% extends "PlanningBundle::layout.html.twig" %}

{% block title %}PlanningBundle:Location:addSite{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}

    <h2>Modification du site : {{ site.name }}  <small class="pull-right"><div class="btn-group" role="group" aria-label="..."><a class="btn btn-primary btn-xs" href="{{ path('add_room', {site:site.id}) }}">Ajouter une salle</a><a class="btn btn-warning btn-xs" href="{{ path("delete_site",{id:site.id})  }}">Supprimer un site</a></div></small></h2>

    {{ form(form) }}
{% endblock %}