{% extends "PlanningBundle:Location:_layout_location.html.twig" %}

{% block title %}PlanningBundle:Location:addRoom{% endblock %}

{% block main %}

    <h1>Ajout d'une salle</h1>

    {{ form(form) }}

{% endblock %}
