{% extends "PlanningBundle:Location:_layout_location.html.twig" %}

{% block title %}PlanningBundle:Location:addSite{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}

    <h1>Modification du site : {{ site.name }} <small class="pull-right">
            <a class="btn btn-warning btn-xs" href="{{ path("delete_site",{id:site.id})  }}">Supprimer le site</a>
    </small></h1>

    {{ form(form) }}



{% endblock %}