{% extends "PlanningBundle:Location:_layout_location.html.twig" %}

{% block title %}PlanningBundle:Location:addSite{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}

    <h1>Ajout d'un site</h1>

    {{ form(form) }}

{% endblock %}
