{% extends 'PlanningBundle:User:_layout_user.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}

    <h2>Groupe : {{ group.name }} <small class="pull-right"><a class="btn btn-warning btn-xs" href="{{ path('group_delete', {group: group.nameCanonical}) }}">Supprimer le groupe</a> </small> </h2>

    {{ form(form) }}

{% endblock %}

