{% extends 'PlanningBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}

    <h2>Ajouter un utilisateur au groupe {{ group.name }}</h2>

    {{ form(form) }}


{% endblock %}

{% block jumbotron %}

{% endblock %}

