{% extends 'PlanningBundle::layout.html.twig' %}

{% block content %}
    <div class="col-lg-8">
        <fieldset>
            <legend>Liste des utilisateurs <small class="pull-right"><a class="btn btn-xs btn-default">Ajouter un utilisateur</a></small></legend>
            <table class="table">
                <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Email</th>
                    <th>Groupes</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr {% if user.locked %}class="bg-warning"{% else %}class="bg-success"{% endif %}>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.groups|join }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-default btn-xs" href="">Afficher</a>
                                <a class="btn btn-info btn-xs" href="">Editer</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </div>
    <div class="col-lg-4">
        <fieldset>
            <legend>Liste des groupes <small class="pull-right"><a class="btn btn-xs btn-default">Ajouter un groupe</a></small></legend>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.name }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-default btn-xs" href="">Afficher</a>
                                <a class="btn btn-info btn-xs" href="">Editer</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </div>
{% endblock %}