{% extends 'PlanningBundle::layout.html.twig' %}

{% set route = app.request.attributes.get('_route') %}

{% block content %}

    <div class="col-sm-9">
        {% block main %}{% endblock %}
    </div>

    <div class="col-sm-3">

        <ul class="nav nav-pills nav-stacked">
            <li {% if 'student' in route %}class="active"{% endif %}
                    ><a href="{{ path('student_promo_list') }}">Gestion des élèves</a></li>
            <li {% if 'promo' in route %}class="active"{% endif %}
                    ><a href="{{ path('student_promo_list') }}">Gestion des promos</a></li>
            <li {% if 'grade' in route %}class="active"{% endif %}
                    ><a href="{{ path('list_grade') }}">Gestion des formation</a></li>
        </ul>

    </div>



{% endblock %}