{% extends "PlanningBundle::layout.html.twig" %}

{% block title %}Ajout d'une promotion{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}

    <h1>Ajout d'une promotion</h1>

    {{ form(form) }}

{% endblock %}
