{% extends "PlanningBundle:Student:_layout_student.html.twig" %}

{% block title %}Edition d'un étudiant{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}

    <h1>Editer un étudiant</h1>

    {{ form(form) }}

{% endblock %}
