{% extends "PlanningBundle:Teacher:_layout_teacher.html.twig" %}
{% block title %}Ajout d'un cour{% endblock %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block main %}
    <h1>Ajout d'un cour</h1>
    {{ form(form) }}
{% endblock %}