user_group_overview:
    path:     /
    defaults: { _controller: PlanningBundle:User:index }

user_list:
    path: /users/{offset}
    defaults: { _controller: PlanningBundle:User:userList, offset: 0 }
    requirements:
        offset: \d+

group_list:
    path: /groups/{offset}
    defaults: { _controller: PlanningBundle:User:groupList, offset: 0 }
    requirements:
        offset: \d+

user_add:
    path:     /user/new/{type}
    defaults: { _controller: PlanningBundle:User:addUser, type:'none' }
    requirements:
        type: tutor|teacher|student|user

group_add:
    path:     /group/new
    defaults: { _controller: PlanningBundle:User:addGroup }

user_show:
    path:     /user/{user}
    defaults: { _controller: PlanningBundle:User:showUser }

group_show:
    path:     /group/{group}
    defaults: { _controller: PlanningBundle:User:showGroup }

user_edit:
    path:     /user/{user}/edit
    defaults: { _controller: PlanningBundle:User:editUser }

group_remove_user:
    path:     /group/{group}/remove/{user}
    defaults: { _controller: PlanningBundle:User:removeUserFromGroup }

group_add_user:
    path:     /group/{group}/add-user
    defaults: { _controller: PlanningBundle:User:addUserToGroup }

group_edit:
    path:     /group/{group}/edit
    defaults: { _controller: PlanningBundle:User:editGroup }